#block-text.block
  .content
    %h2.title= @paste.title
    .inner
      %pre&= ":::#{@paste.type}\n#{@paste.paste}"
      %p
        %span.gray
          Created by
          = 'unknown'
          at
          = @paste.updated_at